<div class="container">
  <div class="card">
    <div class="card-header bg-info text-light">Contacts</div>
    <div class="card-body">

      <div class="form-group">
        <label>Keyword</label>
        <input type="text" [(ngModel)]="keyword">
        <button class="btn-info" (click)="onSearch()"><i class="fa fa-search"></i></button>
      </div>

      <div class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
        </tr>
        <tr *ngFor="let c of pageContacts?.content ">
          <td>{{c.id}}</td>
          <td>{{c.nom}}</td>
          <td>{{c.prenom}}</td>
          <td>{{c.email}}</td>
        </tr>
      </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example" style="margin-top: 10px">
  <ul class="pagination justify-content-center">
    <li class="page-item " [ngClass]="currentPage-1 === 0 ? 'disabled' : ''">
      <a class="page-link" (click)="goToPage(currentPage-2)" tabindex="-1">Previous</a>
    </li>

    <li class="page-item" [ngClass]="currentPage-1 === i ? 'active' : ''"
        *ngFor="let p of pages let i=index"><a class="page-link" (click)="goToPage(i)">{{i+1}}</a></li>

    <li class="page-item" [ngClass]="currentPage === totalPages ? 'disabled' : ''">
      <a class="page-link" (click)="goToPage(currentPage)">Next</a>
    </li>
  </ul>
</nav>

